<div class="ui menu">
  <div class="container">
    <div class="right item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search icon"></i>
      </div>
    </div>
    <div class="item">
      <%=form_for :note_search, url: search_path,method: :get do |f|%>
        <div class="ui action input">
          <%= f.text_field :query, placeholder: "Search..."%>
          <div class="ui button">Go</div>
        </div>
      <%end%>
    </div>
    <div class="center item">
      <i class="write square icon"></i>
    </div>
  </div>
</div>
