<div class="ui menu">
  <div class="container">
    <div class="right item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search icon"></i>
      </div>
    </div>
    <div class="item">
      <div class="ui action input">
        <input type="text" placeholder="Navigate to...">
        <div class="ui button">Go</div>
      </div>
    </div>
    <div class="center item">
      <i class="write square icon"></i>
    </div>
  </div>
</div>
