<div class="ui positive message">
  <div class="header">
    为什么选择Shorthand?
  </div>
  <ul class="list">
    <li>操作简单、界面简洁.</li>
    <li>无须注册与登录，为你去除繁琐的功能.</li>
    <li>专重内容书写与展示的便易.</li>
  </ul>
</div>
<div class="ui positive message">
  <div class="header">
    操作说明：
  </div>
  <ul class="list">
    <li>选择一个本次记事的时间点.</li>
    <li>查看地址最好填写一个你喜欢且易记的英文名字加数字如: user1/1.</li>
    <li>本次的记录你将会在 http://localhost:3000/user1/1 地址看到.</li>
    <li>每次的记事的英文名字最好相同，这样你的所有记事将会在类似 http://localhost:3000/user1 这样的地址查看.</li>
  </ul>
</div>
