<div class="home">
  <div class="ui grid">
    <div class="nine wide column">
      <%=render 'form'%>
    </div>
    <div class="six wide  column">
      <%=render 'slider'%>
    </div>
  </div>
</div>
