<div class="home">
  <div class="ui grid">
    <div class="nine wide column">
      <%=render 'homes/form'%>
    </div>
    <div class="six wide  column">
      <%=render 'homes/slider'%>
    </div>
  </div>
</div>
