.homes-page{
  background-color:#f7f7f7;
  .ui.grid{
    margin:0;
  }
  .ui.form{
    width:90%;
  }
  #ads{
  }
  .nine.wide.column{
    background-color:#fff;
    border:1px solid #DDDDDD;
  }
  label{
    color:#7F8081 !important;
  }
  textarea{
    height:22em !important;
  }
  .describe{
    h1{
      color:#7F8081;
    }
  }
  .form-input input{
    padding-right:none !important;
  }
}

